body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

body>img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}

hr {
  border: none;
  background-color: #f4a833;
  clear: both;
  height: 20px;
  width: 100%;
}

#logo-title>img {
    margin: 100px 100px 50px 100px;
    width: 40%;
}

#logo-title>p {
    font-size: 35px;
    margin: 0;
    margin-left: 180px;
}

#login {
    background-color: #f4a833;
    border-radius: 5px;
    float: right;
    font-weight: bold;
    margin-right: 300px;
    margin-bottom: 100px;
    padding: 10px;
}

#login>.mail,
.password {
    display: block;
    margin: 5px;
    padding: 5px;
}

#login>.enter {
    display: block;
    margin: 8px;
    padding: 8px;
}



/*ESTILOS PARA EL HTML "DASHBOARD*/

#header {
    background-color: #f4a833;
    color: white;
    font-size: 20px;
    padding: 10px;
}

#header>div {
    display: inline-block;
    margin-left: 100px;
}

#dashboard {
    float: left;
    margin-top: 30px;
    margin-left: 355px;
}

#dashboard>p {
    font-size: 20px;
}

#dashboard>#menu-dashboard {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
}

#img-dashboard>div {
    float: right;
    margin-top: 91px;
    margin-right: 143px;
}

#img-dashboard>div>img {
    width: 86%;
}

#menu-dashboard {
    width: 250px;
}

#menu-dashboard>p {
    color: grey;
    font-size: 20px;
}

#menu-dashboard>div {
    margin-left: 16px;
    margin-bottom: 10px;
}

#menu-dashboard>div>div {
    display: inline-block;
    padding-right: 8px;
}

#menu-dashboard>div>div>p {
    color: grey;
    font-size: 16px;
}

.display-block {
    display: block;
}

.color {
    color: grey;
}

/*ESTILOS PARA HTML "ESTUDIANTES"*/

#menu-sedes {
    margin-left: 9%;
}

#menu-sedes>.sedes-gen {
    background-color: #00000014;
    margin-right: 130px;
    padding: 10px;
    text-align: center;
}

#menu-sedes>.sedes-gen>ul>li {
    display: inline-block;
    color: #6f6c6c;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 10px;
}

#menu-sedes>.sedes-gen>ul>li:hover {
    color: #f4a833;
    font-size: 20px;
}

#menu-sedes>.generaciones {
    background-color: white;
    cursor: pointer;
    margin-left: 26%;
    padding: 10px;
    text-align: center;
    width: 10%;
}

#informationStudent {
    display: none;
}

#header>div>i {
    margin-right: 10px;
    padding: 10px;
}

#are1602:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#are1601:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#cdmx1701:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#cdmx1702:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#lim1602:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#lim1701:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#lim1702:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#scl1602:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#scl1701:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

#scl1702:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

.information-dash {
    display: none;
}

.information-student {
    display: none;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 42px;
    overflow: hidden;
    text-align: center;
}

.information-student>.item {
    float: left;
    width: 50%;
}

.information-student>.item>img {
    height: 200px;
    margin: 15px;
    width: 200px;
}

.information-student>.item>.textItem {
    background-color: #f3efea;
    border-radius: 4px;
    border: 1px solid #ece7e2;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
}

.information-student>.item>.textItem>span {
    color: #6f6c6c;
    font-size: 14px;
}


.generacion-seleccionada {
    background-color: #f4a833;
    border-radius: 5px;
    padding: 5px;
}

.sede-seleccionada {
    color: #f4a833;
}

.submenu-gen {
    color: grey;
    font-size: 15px;
    list-style: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.submenu-gen>li {
    cursor: pointer;
    margin-top: 10px;
}

.submenu-gen>li:hover {
    background-color: #f4a833;
    color: white;
    padding: 5px;
}

.margin-left {
    margin-left: 15%;
    width: 60%;
}

.fa {
    margin-right: 20px;
}
