body {
    background-color: #dcdada;
    font-family: 'Raleway', sans-serif;
}

#logo-title>img {
    width: 40%;
    margin: 100px 100px 50px 100px;
}

#logo-title>p {
    margin: 0;
    margin-left: 180px;
    font-size: 35px;
}

#login {
    float: right;
    margin-right: 300px;
    margin-bottom: 100px;
    background-color: #f4a833;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#login>.mail,
.password {
    display: block;
    margin: 5px;
    padding: 5px;
}

#login>.enter {
    display: block;
    margin: 8px;
    padding: 8px;
}

hr {
    clear: both;
    border: none;
    background-color: #f4a833;
    width: 100%;
    height: 20px;
}


/*ESTILOS PARA EL HTML "DASHBOARD*/

#header {
    display: inline-block;
    background-color: #f4a833;
    padding: 10px;
    margin-left: 25%;
    font-size: 20px;
    color: white;
}

#header>div {
    display: inline-block;
    margin-left: 100px;
}

#dashboard {
    float: left;
    margin-top: 30px;
    margin-left: 355px;
}

#dashboard>p {
    font-size: 20px;
}

#dashboard>#menu-dashboard {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
}

#img-dashboard>div {
    float: right;
    margin-top: 91px;
    margin-right: 143px;
}

#img-dashboard>div>img {
    width: 86%;
}

#menu-dashboard {
    width: 250px;
}

#menu-dashboard>p {
    font-size: 20px;
    color: grey;
}

#menu-dashboard>div {
    margin-left: 16px;
    margin-bottom: 10px;
}

#menu-dashboard>div>div {
    display: inline-block;
    padding-right: 8px;
}

#menu-dashboard>div>div>p {
    font-size: 16px;
    color: grey;
}

.display-block {
    display: block;
}

.color {
    color: grey;
}

body>img {
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*ESTILOS PARA HTML "ESTUDIANTES"*/

#menu-sedes {
    margin-left: 30%;
}

#menu-sedes>.sedes-gen {
    background-color: white;
    padding: 10px;
    margin: 0;
    margin-right: 130px;
}

#menu-sedes>.sedes-gen>ul>li {
    display: inline-block;
    margin: 0;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#menu-sedes>.sedes-gen>ul>li:hover {
    color: #f4a833;
    font-size: 20px;
}

#menu-sedes>.generaciones {
    width: 10%;
    padding: 10px;
    text-align: center;
    margin-left: 26%;
    background-color: white;
    cursor: pointer;
}

#information-student {
    text-align: center;
    margin-left: 15%;
}

#information-student>div {
    display: inline-block;
    margin-right: 116px;
    margin-top: 50px;
}

#information-student>div>div {
    background-color: white;
    width: 384px;
    height: 100px;
    margin-top: 10px;
    padding-top: 10px;
}

#information-student>div>div>p {
    margin: 0px;
    display: inline;
    padding: 10px;
    color: grey;
}

#information-student>div>div>p>p {
    font-size: 10px;
}

#header>div>i {
    padding: 10px;
    margin-right: 10px;
}

.generacion-seleccionada {
    background-color: #f4a833;
    padding: 5px;
    border-radius: 5px;
}

.sede-seleccionada {
    color: #f4a833;
}

.submenu-gen {
    display: block;
    list-style: none;
    font-size: 15px;
    color: grey;
}

.submenu-gen>li {
    margin-top: 10px;
}